Repository owncloud/web, pull requests merged in 2019-11, with the labels that each got.

#2266 Check for permission upgrade
  tests/acceptance/features/webUISharingPermissionsUsers/sharePermissionsUsers.feature
  tests/acceptance/pageObjects/FilesPageElement/sharingDialog.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2357 Fix rewording scenario for sharePermissionsUsers
  tests/acceptance/features/webUISharingPermissionsUsers/sharePermissionsUsers.feature
Labels: 4 - To release, Acceptance tests, QA-team

#2293 Test uploading folders
  tests/acceptance/customCommands/uploadLocalFile.js
  tests/acceptance/customCommands/uploadRemote.js
  tests/acceptance/features/webUIUpload/upload.feature
  tests/acceptance/helpers/webdavHelper.js
  tests/acceptance/pageObjects/filesPage.js
  tests/acceptance/stepDefinitions/filesContext.js
  tests/acceptance/stepDefinitions/webdavContext.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2269 Test resharing attempts when resharing is disabled
  .drone.starlark
  .drone.yml
  tests/acceptance/features/webUIResharing/reshareUsers.feature
  tests/acceptance/features/webUIRestrictSharing/disableSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictReSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictSharing.feature
  tests/acceptance/helpers/objects.js
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
  tests/acceptance/pageObjects/FilesPageElement/sharingDialog.js
  tests/acceptance/stepDefinitions/generalContext.js
  tests/acceptance/stepDefinitions/loginContext.js
  tests/acceptance/stepDefinitions/sharingContext.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2359 Adding missing menu state when active
  src/components/Menu.vue
Labels: 3 - To Review

#2297 Remove flex property on app content to provide a proper appbar
  apps/files/src/components/FilesApp.vue
Labels: 3 - To Review

#2333 Add labels to checkboxes, table heads
  apps/files/src/components/FileList.vue
Labels: 3 - To Review, Accessibility

#2363 Fixed wrong method for copy action of public link
  apps/files/src/components/FileLink.vue
Labels: 3 - To Review, bug-solved

#2384 Add step to build oauth2 app in ci
  .drone.starlark
  .drone.yml
Labels: 3 - To Review, Drone

#2385 Add npm script for running selenium in docker
  .drone.starlark
  .drone.yml
  README.md
  nightwatch.conf.js
  package.json
  tests/acceptance/stepDefinitions/filesContext.js
Labels: 4 - To release, Acceptance tests, QA-team

#2371 acceptance test for incorrect login credentials
  tests/acceptance/features/webUILogin/login.feature
  tests/acceptance/pageObjects/ownCloudLoginPage.js
  tests/acceptance/stepDefinitions/loginContext.js
Labels: 3 - To Review, Acceptance tests

#2405 deps 20191107
  apps/draw-io/yarn.lock
  apps/files/yarn.lock
  apps/markdown-editor/yarn.lock
  apps/media-viewer/yarn.lock
  apps/pdf-viewer/yarn.lock
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
  tests/acceptance/stepDefinitions/filesContext.js
  yarn.lock
Labels: 3 - To Review, QA-team

#2387 Acceptance test to check the versions of an uploaded file
  tests/acceptance/features/webUIFiles/versions.feature
  tests/acceptance/helpers/webdavHelper.js
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
  tests/acceptance/pageObjects/filesPage.js
  tests/acceptance/stepDefinitions/filesContext.js
  tests/acceptance/stepDefinitions/generalContext.js
Labels: 3 - To Review, QA-team

#2356 Test that user from an excluded group cannot share resource
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/stepDefinitions/filesContext.js
  tests/acceptance/stepDefinitions/sharingContext.js
Labels: 4 - To release

#2318 Decouple base file list into a separate component
  apps/files/src/components/AllFilesList.vue
  apps/files/src/components/Collaborators/SharedFilesList.vue
  apps/files/src/components/FileList.vue
  apps/files/src/components/FileOpenActions.vue
  apps/files/src/components/FilesApp.vue
  apps/files/src/components/FilesAppBar.vue
  apps/files/src/components/Trashbin.vue
  apps/files/src/default.js
  apps/files/src/fileactions.js
  apps/files/src/mixins.js
  apps/files/src/store/actions.js
  apps/files/src/store/getters.js
  apps/files/src/store/mutations.js
  apps/files/src/store/state.js
  tests/acceptance/customCommands/clickElementAt.js
  tests/acceptance/customCommands/getClipBoardContent.js
  tests/acceptance/features/webUIFiles/fileDetails.feature
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
  tests/acceptance/stepDefinitions/filesContext.js
Labels: 3 - To Review

#2403 Acceptance tests: Tests for checking deletion of file with special characters
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/stepDefinitions/filesContext.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2417 Retry clicking on delete confirmation popup
  tests/acceptance/customCommands/waitForElementEnabled.js
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
  tests/acceptance/setup-drone.js
  tests/acceptance/stepDefinitions/filesContext.js
Labels: 4 - To release, Acceptance tests, QA-team

#2400 Test public link uploads with/without password
  apps/files/src/mixins.js
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/acceptance/features/webUIUpload/upload.feature
  tests/acceptance/features/webUIUpload/uploadEdgecases.feature
  tests/acceptance/features/webUIUpload/uploadFileGreaterThanQuotaSize.feature
  tests/acceptance/pageObjects/filesPage.js
  tests/acceptance/stepDefinitions/filesContext.js
  tests/acceptance/stepDefinitions/publicLinkContext.js
Labels: 4 - To release, Acceptance tests, QA-team

#2438 Acceptance tests: Fix function waitForOutstandingAjaxCalls to handle xhr failures
  tests/acceptance/customCommands/initAjaxCounters.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2415 Test Files drop without password
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: 3 - To Review, Acceptance tests, QA-team

#2457 file and folder delete from favorites, shared with me and shared with others page
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/stepDefinitions/filesContext.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2386 group sharing acceptance tests
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroupsEdgeCases.feature
  tests/acceptance/helpers/webdavHelper.js
  tests/acceptance/stepDefinitions/filesContext.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2446 Acceptance tests: don't wait for Ajax calls while login
  tests/acceptance/pageObjects/ownCloudLoginPage.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2458 Fix failing createFoldersTest
  tests/acceptance/pageObjects/filesPage.js
Labels: 4 - To release, Acceptance tests, QA-team

#2241 Add acceptance test for declining and accepting shared files
  tests/acceptance/features/webUISharingAcceptShares/acceptShares.feature
  tests/acceptance/pageObjects/sharedWithMePage.js
  tests/acceptance/stepDefinitions/filesContext.js
  tests/acceptance/stepDefinitions/sharingContext.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2401 Acceptance tests: Renaming files and folders to valid and invalid names
  tests/acceptance/features/webUIFavorites/favoritesFile.feature
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
  tests/acceptance/stepDefinitions/filesContext.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2448 test resharing attempts from different pages when resharing is disabled
  tests/acceptance/features/webUIRestrictSharing/disableSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictReSharing.feature
Labels: 3 - To Review, Acceptance tests, QA-team

#2439 file rename from favorites, shared-with-me and shared-with-others page
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/stepDefinitions/filesContext.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2343 Test user is not displayed on autocompletion when less than the default minimum characters are typed
  tests/acceptance/features/webUISharingInternalUsers/shareAutocompletion.feature
  tests/acceptance/pageObjects/FilesPageElement/sharingDialog.js
  tests/acceptance/stepDefinitions/filesContext.js
  tests/acceptance/stepDefinitions/generalContext.js
  tests/acceptance/stepDefinitions/sharingContext.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2444 Test file uploads in files-drop
  tests/acceptance/customCommands/useStrategy.js
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/acceptance/helpers/sharingHelper.js
  tests/acceptance/pageObjects/filesDropPage.js
  tests/acceptance/pageObjects/publicLinkFilesPage.js
  tests/acceptance/stepDefinitions/filesContext.js
  tests/acceptance/stepDefinitions/publicLinkContext.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2468 Acceptance tests: Check creating sub folders inside folders with special characters
  tests/acceptance/features/webUIFiles/createFolderEdgeCases.feature
  tests/acceptance/stepDefinitions/webdavContext.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2441 resharing file and folder from different pages
  tests/acceptance/features/webUIResharing/reshareUsers.feature
Labels: 3 - To Review, Acceptance tests, QA-team

#2440 Acceptance test to share a folder or file with group and a member performs actions on received share
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/pageObjects/sharedWithMePage.js
  tests/acceptance/stepDefinitions/filesContext.js
  tests/acceptance/stepDefinitions/sharingContext.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2456 Acceptance test for accept and decline actions performed for offered shares in the notifications
  tests/acceptance/features/webUISharingNotifications/shareWithUsers.feature
  tests/acceptance/pageObjects/phoenixPage.js
  tests/acceptance/stepDefinitions/notificationsContext.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2474 Add test for autocompletion for users with special characters
  .drone.starlark
  .drone.yml
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletion.feature
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletionSpecialChars.feature
Labels: 3 - To Review, Acceptance tests, QA-team

#2472 Fix token refresh flow
  src/pages/login.vue
  src/pages/oidcCallback.vue
  src/pages/oidcSilentRedirect.vue
  src/router/index.js
  src/services/auth.js
Labels: 4 - To release

#2449 App tar balls need to contain top level folder named like the app itself
  Makefile.release
Labels: 4 - To release

#2101 Feature/focus mgmt main menu
  package.json
  src/Phoenix.vue
  src/components/Menu.vue
  src/components/Top-Bar.vue
Labels: 3 - To Review

#2483 remove file deletion duplicate test
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
Labels: 3 - To Review, QA-team

#2481 acceptance test for shared with users implemented features
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
Labels: 3 - To Review, Acceptance tests, QA-team

#2475 Fix scroll behavior on mozilla firefox
  apps/files/src/components/FilesApp.vue
Labels: 3 - To Review

#2485 Feature/publish docker on tag
  .drone.starlark
  .drone.yml
  Dockerfile
  Makefile.release
Labels: 3 - To Review

#2491 Fix steps order on release/publish
  .drone.starlark
  .drone.yml
Labels: 3 - To Review

#2495 Dont build the docker image in the release make file
  Makefile.release
Labels: 3 - To Review

#2239 Upload file using SDK instead of XHR
  apps/files/src/FileUpload.js
  apps/files/src/components/FileDrop.vue
  apps/files/src/components/FileUpload.vue
  apps/files/src/components/FilesAppBar.vue
  apps/files/src/components/FolderUpload.vue
  apps/files/src/components/PublicLinks/FilesDrop.vue
  apps/files/src/default.js
  apps/files/src/mixins.js
  package.json
  yarn.lock
Labels: 2 - Developing

#2489 check passwords are enforced when creating new public share
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/acceptance/helpers/sharingHelper.js
  tests/acceptance/pageObjects/FilesPageElement/publicLinksDialog.js
  tests/acceptance/stepDefinitions/publicLinkContext.js
  tests/acceptance/stepDefinitions/sharingContext.js
Labels: 3 - To Review, Acceptance tests, QA-team

#2488 Add function for user password in acceptance test for uninitialized user
  tests/acceptance/helpers/userSettings.js
  tests/acceptance/stepDefinitions/provisioningContext.js
Labels: 4 - To release, QA-team, dev:acceptance-tests

#2372 Add acceptance test for public link sharing
  apps/files/src/components/FileLink.vue
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/acceptance/helpers/sharingHelper.js
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
  tests/acceptance/pageObjects/FilesPageElement/publicLinksDialog.js
  tests/acceptance/pageObjects/publicLinkPasswordPage.js
  tests/acceptance/stepDefinitions/publicLinkContext.js
  tests/acceptance/stepDefinitions/sharingContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#2373 Refactor collaborators to use helper classes and to map permissions
  apps/files/src/components/Collaborators/AdditionalPermissions.vue
  apps/files/src/components/Collaborators/AutocompleteItem.vue
  apps/files/src/components/Collaborators/Collaborator.vue
  apps/files/src/components/Collaborators/CollaboratorsEditOptions.vue
  apps/files/src/components/Collaborators/NewCollaborator.vue
  apps/files/src/components/Collaborators/RolesSelect.vue
  apps/files/src/components/FileSharingSidebar.vue
  apps/files/src/helpers/collaboratorRolesDefinition.js
  apps/files/src/helpers/collaborators.js
  apps/files/src/mixins/collaborators.js
  apps/files/src/store/actions.js
  package.json
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIResharing/reshareUsers.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/features/webUISharingPermissionMultipleUsers/shareWithMultipleUsers.feature
  tests/acceptance/features/webUISharingPermissionsGroups/sharePermissionsGroup.feature
  tests/acceptance/features/webUISharingPermissionsUsers/sharePermissionsUsers.feature
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/acceptance/helpers/sharingHelper.js
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
  tests/acceptance/pageObjects/FilesPageElement/sharingDialog.js
  yarn.lock
Labels: 3 - To Review

#2520 Use drone docker plugin
  .drone.starlark
  .drone.yml
Labels: 3 - To Review

#2521 Fix permission name used in tests
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
Labels: p1-urgent

#2471 Test: Overwrite file uploads, remove redundant scenarios
  tests/acceptance/features/webUIUpload/upload.feature
  tests/acceptance/pageObjects/filesPage.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#2527 Test: Rename change permission to update
  tests/acceptance/features/webUIUpload/upload.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#2531 split webUISharingPermissionsGroups test suite
  .drone.starlark
  .drone.yml
  tests/acceptance/features/webUISharingFilePermissionsGroups/sharePermissionsGroup.feature
  tests/acceptance/features/webUISharingFolderPermissionsGroups/sharePermissionsGroup.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#2529 test set default expiration date for public links
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/acceptance/helpers/sharingHelper.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#2518 test password enforcement when changing public links
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/acceptance/pageObjects/FilesPageElement/publicLinksDialog.js
Labels: 4 - To release, QA-team, dev:acceptance-tests

#2536 Acceptance tests: search from trashbin page and favorites page does search in the global scope
  tests/acceptance/features/webUIFiles/search.feature
Labels: 3 - To Review, QA-team

#2541 do not fail test when saving button of public link does not disappear
  tests/acceptance/pageObjects/FilesPageElement/publicLinksDialog.js
Labels: 4 - To release, QA-team, dev:acceptance-tests

#2450 New collaborators flow
  apps/files/src/components/Collaborators/Collaborator.vue
  apps/files/src/components/Collaborators/CollaboratorsEditOptions.vue
  apps/files/src/components/Collaborators/EditCollaborator.vue
  apps/files/src/components/Collaborators/NewCollaborator.vue
  apps/files/src/components/FileDetails.vue
  apps/files/src/components/FileSharingSidebar.vue
  apps/files/src/store/actions.js
  apps/files/src/store/mutations.js
  tests/acceptance/features/webUIRestrictSharing/restrictSharing.feature
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletion.feature
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletionSpecialChars.feature
  tests/acceptance/features/webUISharingFilePermissionsGroups/sharePermissionsGroup.feature
  tests/acceptance/features/webUISharingFolderPermissionsGroups/sharePermissionsGroup.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroupsEdgeCases.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/features/webUISharingPermissionMultipleUsers/shareWithMultipleUsers.feature
  tests/acceptance/helpers/userSettings.js
  tests/acceptance/pageObjects/FilesPageElement/sharingDialog.js
  tests/acceptance/pageObjects/filesPage.js
  tests/acceptance/stepDefinitions/sharingContext.js
  yarn.lock
Labels: 2 - Developing

#2501 Test folder with special characters in name
  tests/acceptance/features/webUIFiles/createFolders.feature
  tests/acceptance/pageObjects/phoenixPage.js
  tests/acceptance/stepDefinitions/filesContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#2535 Test: Use path helpers in acceptance tests
  tests/acceptance/helpers/path.js
  tests/acceptance/helpers/sharingHelper.js
  tests/acceptance/helpers/webdavHelper.js
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
  tests/acceptance/pageObjects/filesPage.js
  tests/acceptance/stepDefinitions/filesContext.js
  tests/acceptance/stepDefinitions/publicLinkContext.js
  tests/acceptance/stepDefinitions/sharingContext.js
  tests/acceptance/stepDefinitions/webdavContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#2533 tests for creating public links when the expiry date is enforced
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/acceptance/pageObjects/FilesPageElement/publicLinksDialog.js
  tests/acceptance/stepDefinitions/sharingContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#2496 Moved private link icon to "links" section
  apps/files/src/components/FileDetails.vue
  apps/files/src/components/FileLink.vue
  apps/files/src/components/FilesAppBar.vue
  tests/acceptance/features/webUIFiles/copyPrivateLinks.feature
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
Labels: 3 - To Review

#2528 Acceptance tests: perform file actions on the files and folders that doesnot exist
  tests/acceptance/features/webUIFavorites/favoritesFile.feature
  tests/acceptance/features/webUIFavorites/unfavoriteFile.feature
  tests/acceptance/features/webUIFiles/deleteFilesFolders.feature
  tests/acceptance/features/webUIFiles/download.feature
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
  tests/acceptance/pageObjects/phoenixPage.js
  tests/acceptance/stepDefinitions/filesContext.js
  tests/acceptance/stepDefinitions/generalContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#2487 Add acceptance test for copying public link URL and assert shared resource
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/acceptance/pageObjects/FilesPageElement/publicLinksDialog.js
  tests/acceptance/stepDefinitions/privateLinksContext.js
  tests/acceptance/stepDefinitions/publicLinkContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#2583 fix parameter name
  tests/acceptance/stepDefinitions/generalContext.js
Labels: 4 - To release, QA-team, dev:acceptance-tests

#2539 Acceptance test for multiple public links with same name for same file/folder
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/acceptance/stepDefinitions/publicLinkContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#2519 Acceptance test to restore a file from trashbin whose parent folder is renamed
  tests/acceptance/features/webUITrashbin/trashbinRestore.feature
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#2572 Add acceptance test to view account information on the account page
  .drone.starlark
  .drone.yml
  tests/acceptance/features/webUIAccount/accountInformation.feature
  tests/acceptance/pageObjects/accountPage.js
  tests/acceptance/stepDefinitions/accountContext.js
Labels: 4 - To release, QA-team, dev:acceptance-tests

#2540 Acceptance test: breadcrumb is not seen one level below root directory when rootFolder is set
  tests/acceptance/features/webUIFiles/breadcrumb.feature
  tests/acceptance/pageObjects/filesPage.js
  tests/acceptance/stepDefinitions/filesContext.js
  tests/acceptance/stepDefinitions/generalContext.js
Labels: 3 - To Review, QA-team

#2571 Test: Set skeletondirectory when running tests
  README.md
  package.json
  tests/acceptance/helpers/config.js
  tests/acceptance/setup-drone.js
  tests/acceptance/setup-local.js
  tests/acceptance/stepDefinitions/generalContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#2579 Acceptance test to logout user from the account page
  tests/acceptance/features/webUIAccount/logout.feature
  tests/acceptance/pageObjects/accountPage.js
  tests/acceptance/stepDefinitions/accountContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#2569 Don't re-filter autocomplete collaborators results for remote user
  apps/files/src/components/Collaborators/NewCollaborator.vue
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletionSpecialChars.feature
Labels: 3 - To Review

#2582 Add acceptance test to clearTrashbin
  tests/acceptance/features/webUITrashbin/trashbinDelete.feature
  tests/acceptance/pageObjects/trashbinPage.js
  tests/acceptance/stepDefinitions/filesContext.js
  tests/acceptance/stepDefinitions/generalContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests
