Repository owncloud/web, pull requests merged in 2020-10, with the labels that each got.

#4125 [Tests-Only] fix xpath of newfile button in filespage in ui tests
  tests/acceptance/pageObjects/filesPage.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#4127 [Tests-Only] enable preview tests in drone
  .drone.star
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#4128 [Tests-Only] group test suites in drone to improve test runtime
  .drone.star
Labels: 3 - To Review, Drone

#4120 Design tweaks
  apps/files/src/components/AllFilesList.vue
  apps/files/src/components/Collaborators/AdditionalPermissions.vue
  apps/files/src/components/Collaborators/AutocompleteItem.vue
  apps/files/src/components/Collaborators/Collaborator.vue
  apps/files/src/components/Collaborators/EditCollaborator.vue
  apps/files/src/components/Collaborators/NewCollaborator.vue
  apps/files/src/components/Collaborators/SharedFilesList.vue
  apps/files/src/components/FileDetails.vue
  apps/files/src/components/FileItem.vue
  apps/files/src/components/FileLinkSidebar.vue
  apps/files/src/components/FileList.vue
  apps/files/src/components/FileSharingSidebar.vue
  apps/files/src/components/FilesApp.vue
  apps/files/src/components/FilesAppBar.vue
  apps/files/src/components/FilesLists/Indicators.vue
  apps/files/src/components/FilesLists/QuickActions.vue
  apps/files/src/components/FilesLists/RowActionsDropdown.vue
  apps/files/src/components/FilesLists/SortableColumnHeader.vue
  apps/files/src/components/LocationPicker/LocationPicker.vue
  apps/files/src/components/NoContentMessage.vue
  apps/files/src/components/PrivateLink.vue
  apps/files/src/components/PublicLinks/FilesDrop.vue
  apps/files/src/components/PublicLinks/PublicLink.vue
  apps/files/src/components/PublicLinksSidebar/EditPublicLink.vue
  apps/files/src/components/PublicLinksSidebar/PublicLinkListItem.vue
  apps/files/src/components/Roles/RoleItem.vue
  apps/files/src/components/Roles/RolesSelect.vue
  apps/files/src/components/SidebarQuota.vue
  apps/files/src/components/Trashbin.vue
  apps/files/src/components/UploadMenu.vue
  apps/files/src/components/UploadProgress.vue
  apps/markdown-editor/src/MarkdownEditorAppBar.vue
  apps/media-viewer/src/Mediaviewer.vue
  changelog/unreleased/change-share-to-add-people
  changelog/unreleased/update-ods
  package.json
  src/components/ApplicationsMenu.vue
  src/components/Avatar.vue
  src/components/Notifications.vue
  src/components/SearchBar.vue
  src/components/Top-Bar.vue
  src/components/UserMenu.vue
  src/pages/accessDenied.vue
  src/pages/account.vue
  tests/acceptance/pageObjects/FilesPageElement/sharingDialog.js
  tests/acceptance/pageObjects/phoenixPage.js
  yarn.lock
Labels: enhancement

#4133 Customizable user menu
  apps/files/src/components/FileList.vue
  apps/files/src/default.js
  changelog/unreleased/user-menu.md
  src/Phoenix.vue
  src/components/ApplicationsMenu.vue
  src/components/Top-Bar.vue
  src/components/UserMenu.vue
  src/mixins/navigationMixin.js
  src/pages/account.vue
  src/store/navigation.js
  src/store/user.js
  tests/acceptance/features/webUIAccount/logout.feature
  tests/acceptance/pageObjects/accountPage.js
  tests/acceptance/stepDefinitions/accountContext.js
Labels: 3 - To Review

#4135 Version bump for release 0.19.0
  changelog/0.19.0_2020-10-06/user-menu.md
  package.json
Labels: 3 - To Review

#4139 [CI] use ocis mono repo for ocis
  .drone.star
  config.json.sample-ocis
  nightwatch.conf.js
  tests/acceptance/helpers/ldapHelper.js
  tests/acceptance/stepDefinitions/provisioningContext.js
Labels: Drone, QA-team

#4149 [tests-only] don't run DB & oC service when testing ocis
  .drone.star
Labels: QA-team

#4156 Remove pdf-viewer from transifex job
  l10n/Makefile
Labels: 3 - To Review

#4155 Default apps in example configs
  changelog/unreleased/default-apps-in-example-configs
  config.json.sample-oc10
  config.json.sample-ocis
Labels: 3 - To Review

#4121 [Tests-Only] Add tests for browser session for public link tests
  tests/acceptance/features/webUISharingPublic/sharingPublicSession.feature
  tests/acceptance/helpers/httpHelper.js
  tests/acceptance/helpers/loginHelper.js
  tests/acceptance/helpers/sharingHelper.js
  tests/acceptance/pageObjects/publicLinkPasswordPage.js
  tests/acceptance/stepDefinitions/publicLinkContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#4160 [Tests-Only] maximize the window after starting new session for ui tests
  tests/acceptance/helpers/loginHelper.js
Labels: 3 - To Review, dev:acceptance-tests

#4159 [CI] Fix CI trigger on push and heads/master
  .drone.star
Labels: 3 - To Review, Drone

#4162 Move folder loading switch outside of finally method
  apps/files/src/store/actions.js
  changelog/unreleased/flashy-messages-when-loading-folders
Labels: bug-solved

#4161 [CI] enable files sharing tests for ocis
  .drone.star
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/features/webUISharingPermissionsUsers/sharePermissionsUsers.feature
  tests/acceptance/helpers/sharingHelper.js
  tests/acceptance/helpers/userSettings.js
  tests/acceptance/pageObjects/FilesPageElement/sharingDialog.js
  tests/acceptance/stepDefinitions/generalContext.js
  tests/acceptance/stepDefinitions/provisioningContext.js
  tests/acceptance/stepDefinitions/sharingContext.js
Labels: 3 - To Review, Drone, dev:acceptance-tests

#4195 [tests-only] Enable more sharing suites
  .drone.star
  tests/acceptance/features/webUIResharing/reshareUsers.feature
  tests/acceptance/features/webUIRestrictSharing/disableSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictReSharing.feature
  tests/acceptance/features/webUIRestrictSharing/restrictSharing.feature
  tests/acceptance/features/webUISharingAcceptShares/acceptShares.feature
  tests/acceptance/features/webUISharingPermissionsUsers/sharePermissionsUsers.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#4204 [tests-only] make sure userId is used as string
  tests/acceptance/stepDefinitions/provisioningContext.js
Labels: QA-team, dev:acceptance-tests

#4205 [tests-only] add webUISharingAutocompletion to drone-CI
  .drone.star
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletion.feature
  tests/acceptance/features/webUISharingAutocompletion/shareAutocompletionSpecialChars.feature
Labels: QA-team, dev:acceptance-tests

#4206 [tests-only] correct issue tag id in sharing tests
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
  tests/acceptance/features/webUISharingExternalToRoot/federationSharing.feature
  tests/acceptance/features/webUISharingFilePermissionMultipleUsers/shareFileWithMultipleUsers.feature
  tests/acceptance/features/webUISharingFilePermissionsGroups/sharePermissionsGroup.feature
  tests/acceptance/features/webUISharingFolderAdvancedPermissionMultipleUsers/sharedFolderWithMultipleUsersAdvancedPermissions.feature
  tests/acceptance/features/webUISharingFolderAdvancedPermissionsGroups/shareAdvancePermissionsGroup.feature
  tests/acceptance/features/webUISharingFolderPermissionMultipleUsers/shareFolderWithMultipleUsers.feature
  tests/acceptance/features/webUISharingFolderPermissionsGroups/sharePermissionsGroup.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroupsEdgeCases.feature
  tests/acceptance/features/webUISharingInternalGroupsToRoot/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalGroupsToRoot/shareWithGroupsEdgeCases.feature
Labels: QA-team, dev:acceptance-tests

#4207 [tests-only] add tests demonstrating issue-product-203 issue-ocis-717
  tests/acceptance/features/webUIResharing/reshareUsers.feature
Labels: QA-team, dev:acceptance-tests

#4208 [tests-only] enable sharing permission tests
  .drone.star
  tests/acceptance/features/webUISharingFilePermissionMultipleUsers/shareFileWithMultipleUsers.feature
  tests/acceptance/features/webUISharingFolderAdvancedPermissionMultipleUsers/sharedFolderWithMultipleUsersAdvancedPermissions.feature
  tests/acceptance/features/webUISharingFolderPermissionMultipleUsers/shareFolderWithMultipleUsers.feature
Labels: QA-team, dev:acceptance-tests

#4210 [tests-only] add tests demonstrating issue-product-203 in sharePermissionsUsers sc…
  .drone.star
  tests/acceptance/features/webUISharingPermissionsUsers/sharePermissionsUsers.feature
Labels: QA-team

#4209 [tests-only] add tests demonstrating issue-product-203 in shareWithUsers scenarios
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/stepDefinitions/provisioningContext.js
Labels: QA-team, dev:acceptance-tests

#4212 [tests-only] fix Notification UI tests
  .drone.star
  tests/acceptance/features/webUISharingNotifications/notificationLink.feature
  tests/acceptance/features/webUISharingNotifications/shareWithGroups.feature
  tests/acceptance/features/webUISharingNotifications/shareWithUsers.feature
Labels: QA-team, dev:acceptance-tests

#4227 [tests-only] improve waiting when checking the not-existance on an item
  tests/acceptance/features/webUISharingAcceptShares/acceptShares.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
  tests/acceptance/stepDefinitions/filesContext.js
Labels: QA-team, dev:acceptance-tests

#4230 [Tests-Only] Rephrase "following file should be listed on the webUI" step
  tests/acceptance/features/webUIFiles/copy.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFiles.feature
  tests/acceptance/features/webUIMoveFilesFolders/moveFolders.feature
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
  tests/acceptance/stepDefinitions/filesContext.js
Labels: 3 - To Review, QA-team

#4228 [tests-only] bump ocis-commit id and adjust settings
  .drone.star
Labels: QA-team

#4222 [tests-only] run public link tests on OCIS in CI
  .drone.star
  tests/acceptance/features/webUISharingPublicDifferentRoles/shareByPublicLinkDifferentRoles.feature
  tests/acceptance/stepDefinitions/filesContext.js
Labels: QA-team, dev:acceptance-tests

#4236 Add auto-close capability to alerts
  apps/draw-io/src/DrawIoEditor.vue
  apps/files/src/components/AllFilesList.vue
  apps/files/src/components/FilesAppBar.vue
  apps/files/src/components/LocationPicker/LocationPicker.vue
  apps/files/src/components/Trashbin.vue
  apps/files/src/fileactions.js
  apps/files/src/mixins.js
  apps/files/src/mixins/deleteResources.js
  apps/files/src/quickActions.js
  apps/files/src/store/actions.js
  apps/media-viewer/src/mixins/loader.js
  changelog/unreleased/autoclose-alerts
  src/components/Notifications.vue
  src/components/SearchBar.vue
  src/plugins/phoenix.js
  src/store/app.js
  src/store/settings.js
Labels: enhancement

#4239 Update ODS to 1.12.2
  changelog/unreleased/update-ods-1.12.2
  package.json
  yarn.lock
Labels: 3 - To Review

#4245 [tests-only] Split tests
  .drone.star
  tests/acceptance/features/webUISharingExternal/federationSharing.feature
  tests/acceptance/features/webUISharingExternalToRoot/federationSharing.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/features/webUISharingInternalUsersExpire/shareWithUsersExpiringShares.feature
  tests/acceptance/features/webUISharingInternalUsersExpireToRoot/shareWithUsersExpiringShares.feature
  tests/acceptance/features/webUISharingInternalUsersToRoot/shareWithUsers.feature
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/acceptance/features/webUISharingPublicExpire/shareByPublicLinkExpiringLinks.feature
  tests/acceptance/features/webUITrashbinDelete/trashbinDelete.feature
  tests/acceptance/features/webUITrashbinFilesFolders/trashbinFilesFolders.feature
  tests/acceptance/features/webUITrashbinRestore/trashbinRestore.feature
Labels: QA-team, dev:acceptance-tests

#4238 [tests-only] use shorter timeout for 'should not be listed' steps
  nightwatch.conf.js
  tests/acceptance/features/webUIDeleteFilesFolders/deleteFilesFolders.feature
  tests/acceptance/features/webUITrashbinDelete/trashbinDelete.feature
  tests/acceptance/features/webUITrashbinRestore/trashbinRestore.feature
  tests/acceptance/helpers/navigationHelper.js
  tests/acceptance/pageObjects/FilesPageElement/SharingDialog/collaboratorsDialog.js
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
  tests/acceptance/pageObjects/phoenixPage.js
  tests/acceptance/pageObjects/publicLinkPasswordPage.js
  tests/acceptance/stepDefinitions/filesContext.js
  tests/acceptance/stepDefinitions/sharingContext.js
Labels: QA-team
