Repository owncloud/web, pull requests merged in 2020-03, with the labels that each got.

#3074 [Tests-Only]Unskip test for copy permalinks
  tests/acceptance/features/webUIFiles/copyPrivateLinks.feature
  tests/acceptance/pageObjects/filesPage.js
  tests/acceptance/stepDefinitions/filesContext.js
  tests/acceptance/stepDefinitions/sharingContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#3117 Moved changelog and adjusted version
  changelog/0.5.0_2020-03-02/1854
  changelog/0.5.0_2020-03-02/2924
  changelog/0.5.0_2020-03-02/2986
  changelog/0.5.0_2020-03-02/2998
  changelog/0.5.0_2020-03-02/3011
  changelog/0.5.0_2020-03-02/3039
  changelog/0.5.0_2020-03-02/3041
  changelog/0.5.0_2020-03-02/3047
  changelog/0.5.0_2020-03-02/3808
  changelog/0.5.0_2020-03-02/3850
  changelog/0.5.0_2020-03-02/3858
  package.json
Labels: 3 - To Review

#3085 [Tests-Only] Moved commands for setting up date for public links into publicLinksDatePicker
  tests/acceptance/pageObjects/FilesPageElement/publicLinksDatePicker.js
  tests/acceptance/pageObjects/FilesPageElement/publicLinksDialog.js
  tests/acceptance/stepDefinitions/publicLinkContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#3128 [Tests-Only] Used only virtualScrollWrapper inside findItemInFilesList
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
Labels: 3 - To Review, QA-team

#3086 Added expiration date to collaborators
  apps/files/src/components/Collaborators/Collaborator.vue
  apps/files/src/components/Collaborators/CollaboratorsEditOptions.vue
  apps/files/src/components/Collaborators/EditCollaborator.vue
  apps/files/src/components/Collaborators/NewCollaborator.vue
  apps/files/src/mixins/collaborators.js
  apps/files/src/store/actions.js
  changelog/unreleased/2543
  package.json
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/pageObjects/FilesPageElement/sharingDialog.js
  tests/acceptance/stepDefinitions/generalContext.js
  tests/acceptance/stepDefinitions/sharingContext.js
  yarn.lock
Labels: 3 - To Review, enhancement

#3075 [Tests-Only] Added pageObject for fileActionsMenu
  tests/acceptance/pageObjects/FilesPageElement/fileActionsMenu.js
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
  tests/acceptance/pageObjects/FilesPageElement/sharingDialog.js
  tests/acceptance/stepDefinitions/filesContext.js
  tests/acceptance/stepDefinitions/publicLinkContext.js
  tests/acceptance/stepDefinitions/sharingContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#3130 Moved collaborators additional info into own row
  apps/files/src/components/Collaborators/AutocompleteItem.vue
  apps/files/src/components/Collaborators/Collaborator.vue
  apps/files/src/mixins/collaborators.js
  changelog/unreleased/3130
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/pageObjects/FilesPageElement/SharingDialog/collaboratorsDialog.js
  tests/acceptance/pageObjects/FilesPageElement/sharingDialog.js
  tests/acceptance/stepDefinitions/sharingContext.js
Labels: 3 - To Review

#3158 Use end of the day in expiration date
  apps/files/src/components/Collaborators/Collaborator.vue
  changelog/unreleased/3158
Labels: 3 - To Review, bug-solved

#3136 Changed sort order for collaborators and public links
  apps/files/src/components/FileLinkSidebar.vue
  apps/files/src/components/FileSharingSidebar.vue
  apps/files/src/store/actions.js
  changelog/unreleased/3136
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
Labels: 3 - To Review

#3162 Removed deploy as an app fragments and refactored release makefile
  .drone.star
  Makefile.release
  README.md
  appinfo/info.xml
  changelog/unreleased/3162
Labels: 3 - To Review, technical debt

#3165 [Tests-Only] Refactor expiration date picker
  tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature
  tests/acceptance/pageObjects/FilesPageElement/expirationDatePicker.js
  tests/acceptance/pageObjects/FilesPageElement/publicLinksDialog.js
  tests/acceptance/stepDefinitions/publicLinkContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#3163 Align columns to right
  apps/files/src/components/AllFilesList.vue
  apps/files/src/components/Collaborators/SharedFilesList.vue
  apps/files/src/components/FileList.vue
  apps/files/src/components/FilesLists/StatusIndicators/DefaultIndicators.vue
  apps/files/src/components/Trashbin.vue
  changelog/unreleased/3163
Labels: 3 - To Review

#3167 Updated all deps
  apps/draw-io/package.json
  apps/draw-io/yarn.lock
  apps/files/package.json
  apps/files/src/components/Trashbin.vue
  apps/files/yarn.lock
  apps/markdown-editor/package.json
  apps/markdown-editor/yarn.lock
  apps/media-viewer/package.json
  apps/media-viewer/yarn.lock
  apps/pdf-viewer/package.json
  apps/pdf-viewer/yarn.lock
  package.json
  yarn.lock
Labels: 3 - To Review

#3157 [Tests-Only] Added acceptance test for changing existing expiration date on collaborator share
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/pageObjects/FilesPageElement/expirationDatePicker.js
  tests/acceptance/pageObjects/FilesPageElement/publicLinksDialog.js
  tests/acceptance/pageObjects/FilesPageElement/sharingDialog.js
  tests/acceptance/stepDefinitions/sharingContext.js
Labels: 3 - To Review

#3156 Add doc in README.md for running tests with ocis
  README.md
Labels: 3 - To Review, QA-team, documentation

#3180 [Tests-only] update skip tag issue number on version tests
  tests/acceptance/features/webUIFiles/versions.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#3181 [Tests-only] update skip tag issue number on trashbin tests
  tests/acceptance/features/webUITrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/webUITrashbin/trashbinRestore.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#3159 [Tests-Only] Add acceptance tests for enforced expiration on collaborators share
  tests/acceptance/features/webUISharingInternalGroups/shareWithGroups.feature
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/pageObjects/FilesPageElement/expirationDatePicker.js
  tests/acceptance/pageObjects/FilesPageElement/publicLinksDialog.js
  tests/acceptance/pageObjects/FilesPageElement/sharingDialog.js
  tests/acceptance/stepDefinitions/publicLinkContext.js
  tests/acceptance/stepDefinitions/sharingContext.js
Labels: 3 - To Review, dev:acceptance-tests

#3182 [Tests-only] Remove data directory asynchronously on ocis tests
  tests/acceptance/stepDefinitions/provisioningContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#3196 [Tests-only] Update konnectd configuration variables in drone
  .drone.star
Labels: 3 - To Review, Drone, QA-team, dev:acceptance-tests

#3201 [Tests-only] Fix the cn of user on ldap while creating user
  tests/acceptance/helpers/ldapHelper.js
Labels: 3 - To Review, Drone, QA-team, dev:acceptance-tests

#3211 [Tests-only] Add option to enable screenshots while running acceptance tests
  .drone.star
  nightwatch.conf.js
Labels: 3 - To Review, Drone, QA-team

#3247 [Tests-only] Dont run ocis tests in CI
  .drone.star
Labels: Drone, QA-team, dev:acceptance-tests

#3213 Fixed share indicator delay
  apps/files/src/components/AllFilesList.vue
  apps/files/src/components/FilesLists/Indicators.vue
  apps/files/src/components/FilesLists/StatusIndicators/DefaultIndicators.vue
  changelog/unreleased/3213
Labels: 3 - To Review

#3058 [Tests-only] Fetch wrapper
  tests/acceptance/helpers/config.js
  tests/acceptance/helpers/httpHelper.js
  tests/acceptance/helpers/occHelper.js
  tests/acceptance/helpers/sharingHelper.js
  tests/acceptance/helpers/webdavHelper.js
  tests/acceptance/stepDefinitions/generalContext.js
  tests/acceptance/stepDefinitions/notificationsContext.js
  tests/acceptance/stepDefinitions/provisioningContext.js
  tests/acceptance/stepDefinitions/sharingContext.js
  tests/acceptance/stepDefinitions/webdavContext.js
Labels: 3 - To Review, QA-team

#3195 [Tests-Only] Navigate to private link as an owner of the file, collaborator and an unauthorized user
  tests/acceptance/features/webUIFiles/copyPrivateLinks.feature
  tests/acceptance/features/webUIPrivateLinks/accessingPrivateLinks.feature
  tests/acceptance/pageObjects/publicLinkPasswordPage.js
  tests/acceptance/stepDefinitions/generalContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#3244 [Tests-only] Update the config variables used in for reva in CI
  .drone.star
  tests/acceptance/features/webUICreateFilesFolders/createFolderEdgeCases.feature
  tests/acceptance/features/webUICreateFilesFolders/createFolders.feature
  tests/acceptance/features/webUIDeleteFilesFolders/deleteFilesFolders.feature
  tests/acceptance/features/webUIFiles/fileList.feature
  tests/acceptance/features/webUIRenameFiles/renameFiles.feature
  tests/acceptance/features/webUIRenameFiles/renameFilesInsideProblematicFolderName.feature
  tests/acceptance/features/webUIRenameFolders/renameFolders.feature
  tests/acceptance/features/webUITrashbin/trashbinDelete.feature
  tests/acceptance/features/webUITrashbin/trashbinFilesFolders.feature
  tests/acceptance/features/webUITrashbin/trashbinRestore.feature
  tests/acceptance/features/webUIUpload/uploadEdgecases.feature
Labels: 3 - To Review, Drone, QA-team

#3242 [Tests-only] Use ocis-phoenix for running tests in drone
  .drone.star
  tests/drone/identifier-registration.yml
Labels: 3 - To Review, Drone, QA-team

#3173 Added more babel plugins
  apps/draw-io/package.json
  apps/draw-io/yarn.lock
  apps/files/package.json
  apps/files/yarn.lock
  apps/markdown-editor/package.json
  apps/markdown-editor/yarn.lock
  apps/media-viewer/package.json
  apps/media-viewer/yarn.lock
  apps/pdf-viewer/package.json
  apps/pdf-viewer/yarn.lock
  babel.config.js
  changelog/unreleased/3173
  package.json
  src/phoenix.js
  yarn.lock
Labels: 3 - To Review

#2789 Update chrome browser for UI tests
  .drone.star
  nightwatch.conf.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#3199 [Tests-Only] Add acceptance tests for collaborators share expiration date
  tests/acceptance/features/webUISharingInternalUsers/shareWithUsers.feature
  tests/acceptance/pageObjects/FilesPageElement/SharingDialog/collaboratorsDialog.js
  tests/acceptance/pageObjects/FilesPageElement/sharingDialog.js
  tests/acceptance/stepDefinitions/sharingContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#3274 Do not remove first char in etag
  apps/files/src/components/FileItem.vue
  changelog/unreleased/3274
Labels: 3 - To Review

#3276 Bumped version
  changelog/0.7.0_2020-03-30/276
  changelog/0.7.0_2020-03-30/2961
  changelog/0.7.0_2020-03-30/3173
  changelog/0.7.0_2020-03-30/3213
  changelog/0.7.0_2020-03-30/3214
  changelog/0.7.0_2020-03-30/3274
  package.json
Labels: 3 - To Review

#3200 [Tests-Only]Moved markAsFavorite command into filesRow
  tests/acceptance/pageObjects/FilesPageElement/fileActionsMenu.js
  tests/acceptance/pageObjects/FilesPageElement/filesList.js
  tests/acceptance/pageObjects/FilesPageElement/filesRow.js
  tests/acceptance/stepDefinitions/filesContext.js
Labels: 3 - To Review, QA-team, dev:acceptance-tests
